body{
  margin: 0;
  font-family: 'Poppins';
}
    
#links a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

#links a:hover, .testo a:hover{
  color: #da732d;
}

.button{
  font-weight: bold;
  font-size: 20px;
  background-color: #da732d;
  color: white;
  border-radius: 50px;
  padding: 6px 8px;
}
  
.button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(211, 187, 155);
}

#links{
  font-family: 'Poppins';
  margin-right: 50px;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

#sfondo{
  background-color: #c7e0d0;
  height: 300px;
  background-size: cover;
  background-position: center;
}

#saluto{
  font-family: 'Poppins';
  font-weight: 100;
  color: white;
  font-size: 50pt;
  margin-left: 100px;
  text-decoration: none;
}

main{
  width: 80vw;
  margin: auto;
  margin-top: -55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#libreria, #libri{
  border: 2px solid purple;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#libreria{
  width: calc(38% - 30px);
  height: fit-content;
}

#libri{
  width: calc(58% - 30px);
}

h3{
  font-size: 22pt;
  width: 100%;
  background-color: #a6b3cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: 200;
  margin: 0;
}

#titolo{
  width: calc(100% - 30px);
  background-color: #a6b3cd;
  font-size: 38pt;
  font-weight: 100;
  color: white;
  border: 2px solid purple;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

form{
  width: 100%;
  font-size: 16pt;
}

input{
  width: 100%;
  height: 30px;
}

label{
  margin-bottom: 15px;
}

#submit{
  height: fit-content;
  width: fit-content;
  background-color: #a6b3cd;
  border-radius: 5px;
  font-size: 12pt;
  font-family: 'Poppins';
  margin: 0;
  margin-left: 5px;
}

span{
  width: 100%;
  display: flex;
}

#library-view, #personal-library-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0;
}

#library-view .book{
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  height: 200px;
  display: flex;
}

#personal-library-view .book{
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  display: flex;
}

#personal-library-view .copertina{
  max-height: 120px;
  margin-right: 10px;
}

#library-view .copertina {
  max-width: 100%;
  margin-right: 10px;
}

.contenuto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.titolo{
  font-size: 14pt;
  font-weight: bold;
}

.testo{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: scroll;
}

.autore{
  font-size: 12pt;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
}

.flex-conteiner{
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 2px;
}

.bottone{
  width: fit-content;
  height: fit-content;
  background-color: #a6b3cd;
  padding: 1px 6px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12pt;
  color: white;
}

.icon1, .icon2 {
  height: 26px;
  margin-left: 10px;
  cursor: pointer;
}

.hidden{
  display: none;
}

.testo{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  overflow: scroll;
}